.tooltip[data-tool-tip] {
  position: relative;
  width: 100%;
}

.tooltip[data-tool-tip]:hover::before {
  visibility: visible;
  opacity: 1;
}

.tooltip[data-tool-tip]::before {
  text-align: center;
  content: attr(data-tool-tip);
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  width: max-content;
  height: max-content;
  position: absolute;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 3px 16px;
  background-color: var(--blackText);
  color: var(--whiteText);
  border-radius: 4px;
  white-space: nowrap;
  transition: opacity ease-out 150ms, bottom ease-out 150ms;
}

.tooltip[data-position='bottom']::before {
  top: 100%;
  bottom: 0;
  right: -70%;
}