.form {
  margin-bottom: 100px;
  display: flex;

  form {
    display: flex;
    flex-direction: column;
    gap: var(--defaultGap);
    align-items: center;
    width: 100%;
    max-width: 380px;
  }

}

@media (min-width: 320px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1170px) {}