.userCard {
  padding: 20px;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--whiteText);
  border-radius: 10px;

  .userImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .userName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

@media (min-width: 320px) {
  .userCard{
    width: 100%;
  }
}

@media (min-width: 768px) {
  .userCard{
    max-width: 344px;
  }
}

@media (min-width: 1024px) {
  .userCard{
    max-width: 282px;
  }
}

@media (min-width: 1170px) {
  .userCard{
    max-width: 370px;
    
  }
}