.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    animation: load 3s infinite;
    -webkit-animation: load 3s linear infinite;
  }
}


@keyframes load {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}