.banner {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/pexels-alexandr-podvalny-1227513.jpeg);
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    // justify-content: center;
    // padding-top: 0;
    gap: 21px 4px;
  }

  p {
    color: var(--whiteText);
  }

  .btn {
    margin-top: 11px;
  }
}

@media (min-width: 320px) {
  .banner {
    min-height: 500px;
  }
}

@media (min-width: 768px) {
  .banner {
    padding-top: 89px;

    .container {
      padding: 0;
    }
  }
}

@media (min-width: 1024px) {
  .banner {
    padding-top: 164px;
    min-height: 650px;
  }
}

@media (min-width: 1170px) {

}